.movie-card {
  position: relative;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 2rem;
  border-radius: 10px;
  transition: opacity 0.3s;
 
}

.movie-card:hover .overlay {
  opacity: 1;
}
